.card {
    width: 300px;
  background-color: #1f1f1f; /* dark background */
  color: #fff; /* text color */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 20px auto;
}

img {
    width: 200px;
}